{% extends 'base.html' %}

{% block content %}
<h5>Username: </h5>
<p>{{name}}</p>

<table>
    <tr>
    <th>Creation Date</th>
    <th>Task Title</th>
    <th>Description</th>
    </tr>
    {% for data in list_data %}
        <tr>
            <th>{{data.date}}</th>
            <th>{{data.title}}</th>
            <th>{{data.description}}</th>         
        </tr>
    {% endfor %}
</table>

<button>
    <a href="{% url 'todolist:create-task' %}">Add New Task</a>
</button>

<h5>Last login session: {{ last_login }}</h5>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

{% endblock content %}